.signup-container {
    text-align: left;
    margin-left: 100px;
    padding: 15px;
    width: 1045px;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
  }
  
  .logo {
    height: 37px;
    width: 37px;
  }
  
  .heading {
    height: 48px;
    width: 450px;
    font-size: 44px;
    line-height: 48px;
    font-family: 'Means Web', Georgia, Times, Times New Roman, serif;
  }
  
  .paragraph {
    height: 23px;
    width: 400px;
    font-size: 16px;
    line-height: 24px;
    font-family: 'Means Web', Georgia, Times, Times New Roman, serif;
  }
  
  .label {
    font-size: 16px;
    font-weight: 500;
    height: 29px;
  }
  
  .input-field {
    font-size: 17px;
    font-weight: 500;
    height: 47px;
    width: 570px;
    line-height: 20px;
  }
  
  .checkbox-container {
    font-size: 16px;
    line-height: 24px;
    height: 53px;
    text-align: center;
    width: 570px;
    display: flex;
  }
  
  .checkbox {
    height: 35px;
    width: 38px;
    margin-right: 10px;
  }
  
  .terms {
    font-size: 12px;
    line-height: 18px;
    height: 35px;
    text-align: left;
    width: 420px;
    padding-top: 80px;
  }
  
  .button {
    font-size: 16px;
    font-weight: 600;
    height: 47px;
    width: 570px;
    line-height: 46px;
    margin-top: 50px;
    background-color: #007C89;
    color: white;
    margin-bottom: 50px;
  }
  